.hello{
    font:20px;
    color: blue;
}

button {
    display: inline;
    background-size: 64px 64px;
    height: 64px;
    width: 64px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: none;
}
.redpiece {
    background-image: url("red.gif");

}

.bluepiece {
    background-image: url("black.gif");
}

.redking {
    background-image: url("redking.gif");
}

.blueking {
    background-image: url("blueking.gif");
}

.whitetile {
    background-image: url("blank1.gif")
}

.blacktile {
    background-image: url("blank2.gif");
}