<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="index.css")}}">
  </head>
  <body>
     <div id="hello"><h1>Hello, {{ player_id }}!</h1></div>

     <div id="current_board" class="current_board">
     {% for row in range(8)%}
     <div>
            {% for col in range(8) %}
             {% if board[row][col] == "R" %}
             <button id="{{row}}{{col}}" class = "redpiece" onclick="selectPiece({{row}},{{col}})"></button>

             {% elif board[row][col] == "B" %}
             <button id="{{row}}{{col}}" class = "bluepiece" onclick="selectPiece({{row}},{{col}})"></button>

              {% elif board[row][col] == "r" %}
             <button id="{{row}}{{col}}" class = "redking" onclick="selectPiece({{row}},{{col}})"></button>

              {% elif board[row][col] == "b" %}
             <button id="{{row}}{{col}}" class = "blueking" onclick="selectPiece({{row}},{{col}})"></button>

             {% elif board[row][col] == "G" %}
             <button id="{{row}}{{col}}" class = "blacktile" onclick="movePiece({{row}},{{col}})"></button>

             {% elif board[row][col] == "W" %}
             <button id="{{row}}{{col}}" class = "whitetile" onclick="movePiece({{row}},{{col}})"></button>

             {% endif %}

           {% endfor %}
      </div>
          {% endfor %}
{#
             {% if board[row][col] == "R" %}
             <img src = {{url_for('static', filename = "red.gif")}} onclick="selectPiece({{row}},{{col}})">

             {% elif board[row][col] == "B" %}
             <img src = {{url_for('static', filename = "black.gif"
             )}} onclick="selectPiece({{row}},{{col}})">

              {% elif board[row][col] == "r" %}
             <img src = {{url_for('static', filename = "redking.gif"
             )}} onclick="selectPiece({{row}},{{col}})">

              {% elif board[row][col] == "b" %}
             <img src = {{url_for('static', filename = "blueking.gif"
             )}} onclick="selectPiece({{row}},{{col}})">

             {% elif board[row][col] == "G" %}
             <img src = {{url_for('static', filename = "blank2.gif")}} onclick="moveTo({{row}},{{col}})">

             {% elif board[row][col] == "W" %}
             <img src = {{url_for('static', filename = "blank1.gif")}} onclick="moveTo({{row}},{{col}})">

             {% else %}

             {% endif %}
           {% endfor %}
           <br>
          {% endfor %}
#}
     </div>


    <div id="message">
        {% if current_player == player_id %}
          <p id = "yourturn">It's your turn!</p>
        {% else %}
          <p id ="waiting">Waiting for the other player to move</p>
        {% endif %}
    </div>

    <div>
        <form id="myForm" action = "/index/{{game_id}}/{{player_id}}">
<!--            <input type="hidden" name="game_id" value="{{game_id}}">
            <input type="hidden" name="player_id" value="{{player_id}}">
-->
            <input type="" id="row" name="row">


            <input type=""  id="col" name="col">


            <input type=""  id="to_row" name="to_row">


            <input type=""  id="to_col" name="to_col">

        </form>
    </div>
    <script>

    function movePiece(r, c){
      document.getElementById('to_row').value = r;
      document.getElementById('to_col').value = c;
      document.getElementById('myForm').submit();
    }

    function selectPiece(r, c){
      document.getElementById('row').value = r;
      document.getElementById('col').value = c;
    }

        var callAjax = function (callback)
      {
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.onload=callback;
        xmlhttp.open("GET", "/boardstate/{{game_id}}",true);
        xmlhttp.send();

            //console.log(xmlhttp.responseText);
            //document.getElementsByClassName("current_board").innerHTML=xmlhttp.responseText;
            //console.log(document.getElementsByClassName("current_board").innerHTML)
      }
        setInterval(function(){
        callAjax(function(response){
        console.log("got response")
        compareBoards(JSON.parse(response.target.responseText),getBoardState())
        })
      },1000)

    var getBoardState = function(){
      var board = document.getElementById("current_board");
      var nodes = document.getElementById("current_board").children;
      var current_board = [];
      var i;
      for (i = 0; i < nodes.length; i++){
        var j;
        var current_row = [];
        for (j = 0; j < nodes[i].children.length; j++){
            piece = nodes[i].children[j].className;
            switch (piece) {
              case "redpiece":
                current_row.push("R")
                break;
              case "bluepiece":
                current_row.push("B")
                break;
              case "redking":
                current_row.push("r")
                break;
              case "blueking":
                current_row.push("b")
                break;
              case "whitetile":
                current_row.push("W")
                break;
              case "blacktile":
                current_row.push("G")
                break;
              default:
                break;
            }
        }
        current_board.push(current_row);
      }
      return current_board;
    }

    var compareBoards = function(serverboard, clientboard) {
      for (var i = 0; i < serverboard.length; i++) {
        for (var j = 0; j < serverboard[i].length; j++) {
          if (serverboard[i][j] != clientboard[i][j]){

            var newClass = ""
            var newClick = ""

            console.log(serverboard[i][j]);

            switch (serverboard[i][j]) {

              case "R":
                console.log("R")
                newClass = "redpiece";
                newClick = "movePiece("+i+","+j+")";
                break;
              case "B":
                console.log("B")
                newClass = "bluepiece";
                newClick = "selectPiece("+i+","+j+")";
                break;
              case "r":
                console.log("r")
                newClass = "redking";
                newClick = "selectPiece("+i+","+j+")";
                break;
              case "b":
                console.log("b")
                newClass = "blueking";
                newClick = "selectPiece("+i+","+j+")";
                break;
              case "W":
                console.log("W")
                newClass = "whitetile";
                newClick = "movePiece("+i+","+j+")";
                console.log(newClick)
                break;
              case "G":
                newClass = "blacktile";
                newClick = "movePiece("+i+","+j+")";
                console.log(newClick)
                break;
              default:
                break;
            }

            document.getElementById(i.toString() + j.toString()).setAttribute('onclick', newClick);
            document.getElementById(i.toString() + j.toString()).className = newClass;


          };
        };
      };
    };

    </script>
  </body>
</html>