
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="index.css")}}">
  </head>
  <body>
     <div id="hello"><h1>Hello, {{ player_id }}!</h1></div>

     <div id="current_board" class="current_board">
     {% for row in range(8)%}
     <div>
            {% for col in range(8) %}
             {% if board[row][col] == "R" %}
             <button id="{{row}}{{col}}" class = "redpiece" onclick="selectPiece({{row}},{{col}})"></button>

             {% elif board[row][col] == "B" %}
             <button id="{{row}}{{col}}" class = "bluepiece" onclick="selectPiece({{row}},{{col}})"></button>

              {% elif board[row][col] == "r" %}
             <button id="{{row}}{{col}}" class = "redking" onclick="selectPiece({{row}},{{col}})"></button>

              {% elif board[row][col] == "b" %}
             <button id="{{row}}{{col}}" class = "blueking" onclick="selectPiece({{row}},{{col}})"></button>

             {% elif board[row][col] == "G" %}
             <button id="{{row}}{{col}}" class = "blacktile" onclick="movePiece({{row}},{{col}})"></button>

             {% elif board[row][col] == "W" %}
             <button id="{{row}}{{col}}" class = "whitetile" onclick="movePiece({{row}},{{col}})"></button>

             {% endif %}

           {% endfor %}
      </div>
          {% endfor %}
{#
             {% if board[row][col] == "R" %}
             <img src = {{url_for('static', filename = "red.gif")}} onclick="selectPiece({{row}},{{col}})">

             {% elif board[row][col] == "B" %}
             <img src = {{url_for('static', filename = "black.gif"
             )}} onclick="selectPiece({{row}},{{col}})">

              {% elif board[row][col] == "r" %}
             <img src = {{url_for('static', filename = "redking.gif"
             )}} onclick="selectPiece({{row}},{{col}})">

              {% elif board[row][col] == "b" %}
             <img src = {{url_for('static', filename = "blueking.gif"
             )}} onclick="selectPiece({{row}},{{col}})">

             {% elif board[row][col] == "G" %}
             <img src = {{url_for('static', filename = "blank2.gif")}} onclick="moveTo({{row}},{{col}})">

             {% elif board[row][col] == "W" %}
             <img src = {{url_for('static', filename = "blank1.gif")}} onclick="moveTo({{row}},{{col}})">

             {% else %}

             {% endif %}
           {% endfor %}
           <br>
          {% endfor %}
#}
     </div>


    <div id="message"></div>

    <div>
        <form id="myForm" action = "/index/{{game_id}}/{{player_id}}">
<!--            <input type="hidden" name="game_id" value="{{game_id}}">
            <input type="hidden" name="player_id" value="{{player_id}}">
-->
            <input type="hidden" id="row" name="row">
            <input type="hidden"  id="col" name="col">
            <input type="hidden"  id="to_row" name="to_row">
            <input type="hidden"  id="to_col" name="to_col">

        </form>
    </div>
    <script>

    function movePiece(r, c){
      document.getElementById('to_row').value = r;
      document.getElementById('to_col').value = c;
      document.getElementById('myForm').submit();
    }

    function selectPiece(r, c){
      document.getElementById('row').value = r;
      document.getElementById('col').value = c;
    }


    </script>
  </body>
</html>